
<div class="container" style="padding-bottom: 75px;">
	<div class="col-md-5" ng-controller="usersController">
		<h3>Welcome to Questions!</h3>
		<h5>Get started by entering your name!</h5><br>
		<form name='userform' ng-submit='addUser()'>
		<div class="form-group">
				<label for="user_name">Name:</label>
				<input class="form-control" name='name' type="text" ng-model="new_user.name" placeholder="Insert user name..." ng-minlength='3' required>
			</div>
			<p style='color:red' ng-if='$scope.error = "True"'>{{ error }}</p>
			<button type="submit" class="btn btn-primary pull-right">Sign In</button>
		</form> 
	</div>
</div>